:root,
::before,
::after {
    --background-gradient: linear-gradient(90deg,
            #8EC5FC,
            #E0C3FC);
    --nav-background: #4d4dce;
    --text-color: #6C6868;
    --h1-size: 50px;
    --h2-size: 35px;
    --p-size: 30px;
    --navfont-size: 25px;
}

@media (max-width: 800px) {
    :root {
        --background-gradient: linear-gradient(90deg,
                #8EC5FC,
                #E0C3FC);
        --nav-background: #4d4dce;
        --text-color: #6C6868;
        --h1-size: 30px;
        --h2-size: 20px;
        --p-size: 15px;
        --navfont-size: 15px;
    }

}



body {
    background: var(--background-gradient);
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#welcome-section {
    height: 100vh;
    width: 100vw;

    display: blcok;
}

#welcome-h1 {
    padding-top: 20vh;
    width: 100%;
    text-align: center;
    height: 20vh;
    font-size: var(--h1-size);

}

#welcome-h2 {
    margin-top: -10vh;
    width: 100%;
    text-align: center;
    height: 20vh;
    font-size: var(--h1-size);
}

#welcome-p {
    font-weight: normal;
    text-align: center;
    font-size: var(--p-size);
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    display: inline;
    z-index: 1;
    text-align: center;
    background-color: var(--nav-background);
}

.nav-link {
    margin: 0 50px 0 50px;
    font-size: var(--navfont-size);
    border: 2px solid rgb(54, 71, 139);
    color: black;
}

#project-header {
    text-align: center;
    font-size: var(--h1-size);
    padding-top: 0;
    padding-bottom: 10vh;
    font-weight: bold;
    color: #6C6868;
}

#flex-column {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    grid-gap: 10px;

}


.project-tile p {
    text-align: center;
}

.project-tile {
    width: 30vw;
    height: 40vh;
    border: 3px solid Black;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 80%;
}

.empty-div {
    height: 10vh;
    width: 100vw;
}

#h1-course {
    font-size: var(--h1-size);
    text-align: center;
}

.h2-course {
    font-size: var(--h2-size);
    text-align: center;
}

.p-course {
    font-size: var(--p-size);
    text-align: center;
}




#contact-header {
    font-size: var(--h1-size);
    text-align: center;
}

#center-contact {
    padding: 0 20vw 0 20vw;
}

.contact-p {
    font-size: var(--p-size);
    text-align: left;
}